h1{
    text-align: center;
    background-color: yellow;;
}
h2{
    text-align: center;
    background-color: yellowgreen;
    font-size: 2px;
    
}
h4{
  background-color: yellow;
  text-align: center; 
}
h5{
    background-color: rgb(255, 196, 0);
    width: 40%;
}
@media (max-width: 768px) {
  .carousel-caption p{
    color: white;
    font-size: 10px;
  }
}
p{
    margin-left: 45px;
    margin-right: 30px;
}
.Menu{
    margin: 20px;
}
.navbar-nav ml-auto{
    text-align-last: right;
}
img{
    background-position: center;
    background-repeat: no-repeat;
    padding:15px;
    width: 100%;  
}
.bg{
    background-image: url("assets/images/screen.jpg");
}
.register{
    margin-left: 100px;
    max-width: 50%;
    margin-block-start: 50px;
    border-top-right-radius: 100px;
   
    line-height: 15px;
    padding-bottom: 15px;
}
.ex{
    overflow: auto;
}

.tranerstyle{
        margin: 20px;   
    }

.color{
    background-color: purple;
    text-align: center;
}

  .card-link{
  text-align:center;
  }


.container1 {
  background-image: url("images/screenshot.jpg");
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
   background-color: lighten;
  background-size: cover;
  position: relative;
}
.container2 {
  position: center;
  top: 60px;
  left: 200px;
  right: 200px;
  margin: 100px;
  max-width: 300px;
  padding: 16px;
  background-color: aquamarine;
}

input[type=text], input[type=password], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus{
  background-color: #ddd;
  outline: none;
}


.btn {
  
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
.footer{
    background-color: orange;
    text-align: center;
    display: block; 
   margin-bottom: 0;
}

    